%main {
  background-color: $light-color;
  color: #fff;

  section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input,
    select {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 6px;
      margin-bottom: 16px;
    }

    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      height: 200px;
    }
  }

  .logos__content {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 50px;
    color: $secondary-color;
  }

  .services__content {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .blogs__content {
    display: column;
    align-items: center;

    .row {
      display: flex;
      padding: 20px;

      img {
        width: 100%;
        max-width: 300px;
        height: 100%;
        max-height: 300px;
        padding: 20px;
      }

      article {
        padding: 20px;
        h2 {
          font-size: 20px;
          color: $secondary-color;
        }
      }
    }
  }
}

.main {
  @extend %main;
}
