* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* css animation */
#head {
  animation: head 2s infinite;
  transition-duration: 15s;
  transition-delay: 50s;

  transform-origin: center;
  transform-box: fill-box;
}

@keyframes head {
  from {
    transform: rotatez(5deg);
  }
  to {
    transform: rotatez(-1deg);
  }
}

#right-hand,
#left-hand {
  animation: hand 0.2s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hand {
  from {

    transform: rotatez(10deg);
  }
  to {
    transform: rotatez(-0deg);
  }
}
/* /////////////////////////css animation/////////////////////////////////////// */

#right-foot {
  animation: feet 2s ease-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes feet {
  from {
    transform: rotateZ(5deg);
  }
  to {
    transform: rotateZ(40deg);
  }
  to {
    transform: rotateX(30deg);
  }
}
#left-foot {
  animation: feet 0.5s ease-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes feet {
  from {
    transform: rotateZ(5deg);
  }
  to {
    transform: rotateZ(40deg);
  }
  to {
    transform: rotateX(30deg);
  }
}
.container {
  display:flex;
  justify-content: space-between;
  background-color: #222020;
}
.container .wanagh {
margin: auto;
}

.container .wanagh h1 {
  margin-bottom: 5px;
  color: #ffb600;
  padding: 30px;
  text-align: center;
}
.container .wanagh p {
  
  
  color: #ffffff;
  text-align: center;
  padding: 30px;
}
.container .anime-svg {
 margin: auto;
}
.logo{
  display: flex;
  background-color:#050000;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: space-between;
  color: #000000;
  height: 100vh;
  background-color: #050000;
  align-items: center;
  padding: 30px 10%;
  height: 100px;
}
header .logo {
  width: 140px;
}
header li,
header a {
  font-size: 16px;
  font-weight: 500;
  color: #ffb600;
  text-decoration: none;
  display: inline;
  text-transform: uppercase;
}

.nav__links {
  list-style: none;
}
.nav__links li {
  padding: 0 20px;
}
.nav__links li,
.nav__links a:hover {
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  color: #000000;
  height: 100vh;
  background-color: #050000;
  align-items: center;
  padding: 30px 10%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.row .card-img {
  width: 80%;
  margin-left: 45px;
}
.row .card-title {
  text-align: center;
  color: white;
  margin: auto;
  margin-bottom: 25px;
  height: auto;
}
.row .card-text {
  text-align: center;
  color: white;
  margin: auto;
  margin-bottom: 25px;
}
.row .btn {
  text-transform: uppercase;
  display: block;
  width: 300px;
  border: #ffb600 1px solid;
  padding: 10px;
  margin: auto;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  color: white;
  letter-spacing: 1.5px;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
}
.row .btn:hover {
  background-color: #484747;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #000000;
  height: 100vh;
  background-color: #050000;
  align-items: center;
  padding: 30px 10%;
  background-image: url("assets/images/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer h2 {
  color: #ffb600;
  margin-bottom: 10px;
  text-align: center;
}
.footer p {
  width: 380px;
  color: white;
  text-align: center;
}
.footer ul {
  list-style: none;
}
.footer ul li,
.footer ul a {
  text-decoration: none;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}
.footer ul li:hover,
.footer ul a:hover {
  color: #484747;
}

@media screen and (max-width: 1360px) {
  header {
    display: flex;
    justify-content: space-between;
    color: #000000;
    height: 100vh;
    background-color: #050000;
    align-items: center;
    padding: 30px 10%;
    height: 100px;
  }
  header img {
    width: 140px;
  }
  header li,
  header a {
    font-size: 16px;
    font-weight: 500;
    color: #ffb600;
    text-decoration: none;
    display: none;
    text-transform: uppercase;
  }
  .nav__links {
    list-style: none;
  }
  .nav__links li {
    padding: 0 20px;
  }
  .nav__links li,
  .nav__links a:hover {
    color: white;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
    background-color: #222020;
  }
  .row {
    flex-direction: column;
  }
  .row .card-img {
    width: 50%;
    margin-left: 25%;
  }
  .row .card-image {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .row .card-title {
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 25px;
  }
  .row .card-text {
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 25px;
  }
  .row .btn {
    text-transform: uppercase;
    display: block;
    width: 300px;
    border: #ffb600 1px solid;
    padding: 10px;
    margin: auto;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
    font-weight: 700;
    border-radius: 2px;
    cursor: pointer;
  }
  .row .btn:hover {
    background-color: #484747;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer h2 {
    color: #ffb600;
    margin-bottom: 15px;
  }
  .footer p {
    color: white;
    margin-bottom: 15px;
  }
  .footer ul {
    list-style: none;
  }
  .footer li,
  .footer a {
    color: white;
    margin-bottom: 5px;
    text-decoration: none;
  }
  .footer li:hover,
  .footer a:hover {
    color: #484747;
  }
} /*# sourceMappingURL=style.css.map */
