@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Tilt+Prism&display=swap");
/*
font-family: 'Montserrat',
sans-serif;
font-family: 'Tilt Prism',
cursive; 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #2B3467;
  display: grid;
}

hr {
  border-color: #BAD7E9;
}

.logo {
  font-family: "Tilt Prism";
  color: #BAD7E9;
  font-size: 3rem;
  padding: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
.logo:hover {
  color: #EB455F;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.navigation__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.navigation__link {
  color: #BAD7E9;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.2rem;
  margin: 2rem;
  border-bottom: 5px solid #EB455F;
  border-radius: 5px;
  border-color: transparent;
}
.navigation__link:hover {
  color: #EB455F;
  border-color: #EB455F;
}

.hero {
  height: 100vh;
  padding: 2rem;
  color: #BAD7E9;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero__text {
  font-size: 2.25rem;
  display: block;
  max-width: 50%;
}
.hero__highlight {
  color: #EB455F;
}

.services_section {
  padding: 2rem;
  color: #BAD7E9;
  display: grid;
  place-items: center;
}
.services_section__header {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
  border-bottom: 5px solid #EB455F;
  border-radius: 5px;
}
.services_section__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.services_section__card {
  display: grid;
  min-height: 300px;
  padding: 1rem;
  margin: 1rem;
  place-items: center;
  grid-template-rows: 1fr 2fr 1fr;
  transition: 0.3s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border: 3px solid #BAD7E9;
  border-radius: 10px;
}
.services_section__card:hover {
  transform: translateY(-5%);
}
.services_section__card_header {
  text-align: center;
  font-size: 2.25rem;
}
.services_section__btn {
  color: #BAD7E9;
  background-color: #2B3467;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #BAD7E9;
  border-radius: 10px;
}
.services_section__btn:hover {
  color: #EB455F;
  transform: scale(1.1);
}

.tech_stack_section {
  display: grid;
  place-items: center;
  color: #BAD7E9;
  padding: 2rem;
}
.tech_stack_section__header {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
  border-bottom: 5px solid #EB455F;
  border-radius: 5px;
}
.tech_stack_section__icons {
  width: 100%;
  list-style-type: none;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blogs_section {
  color: #BAD7E9;
  padding: 2rem;
  display: grid;
  grid-gap: 4rem;
  place-items: center;
}
.blogs_section__header {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
  border-bottom: 5px solid #EB455F;
  border-radius: 5px;
}
.blogs_section__card {
  border: 3px solid #BAD7E9;
  border-radius: 10px;
  width: 70%;
  padding: 1rem;
  margin: auto;
  margin-bottom: 2rem;
  min-height: 300px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 3fr;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.blogs_section__card_header {
  font-size: 2.25rem;
}
.blogs_section__image {
  float: left;
  height: fit-content;
  margin-right: 1rem;
  left: 50%;
}
.blogs_section__card_text {
  font-size: 1.5rem;
}
.blogs_section__content {
  display: grid;
  grid-gap: 1rem;
}
.blogs_section__link {
  color: #BAD7E9;
  background-color: #2B3467;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #BAD7E9;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  width: 30%;
}
.blogs_section__link:hover {
  color: #EB455F;
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
