%btn {
  border: none;
  padding: 10px;
  color: white;
  background-color: $primary-color;
  text-align: center;
  cursor: pointer;
  width: 100px;
  font-size: 15px;

  &:hover {
    opacity: 0.7;
    color: $secondary-color;
  }
}

.btn-primary {
  @extend %btn;
}

%cardBtn {
  border: none;
  padding: 15px;
  color: white;
  background-color: $primary-color;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

  &:hover {
    opacity: 0.7;
    color: $secondary-color;
  }
}

.cardBtn {
  @extend %cardBtn;
}
