%footer {
  background-color: $primary-color;
  color: #fff;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: #fff;
    }

    ul {
      display: flex;
      list-style: none;
      font-size: 50px;
    }

    li {
      padding: 20px;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      color: $secondary-color;
    }
  }
}

.footer {
  @extend %footer;
}
