@import "config";
@import "utilities";
@import "buttons";
@import "cards";
@import "header";
@import "main";
@import "footer";

img {
  width: 100%;
}

h2 {
  color: #fff;
  text-align: center;
  background-color: $primary-color;
  padding: 20px;
}

p {
  color: black;
}

hr {
  position: relative;
  top: 20px;
  border: none;
  height: 6px;
  background: black;
  margin-bottom: 50px;
}
